In [1]:
import pandas as pd

In [3]:
fawsl_df = pd.read_json("/Users/algin/Downloads/mc_data/statsbomb/data/FAWSL_22_23.json")

In [4]:
mc_ars_lineup_df = pd.read_json("/Users/algin/Downloads/mc_data/statsbomb/data/ManCity_Arsenal_lineups.json")

In [5]:
mc_ars_lineup_df

,team_id,team_name,lineup,formations,events
0,746,Manchester City WFC,"[{'player_id': 4637, 'player_name': 'Ellie Roe...","[{'period': 1, 'timestamp': '00:00:00.000', 'r...","[{'period': 1, 'timestamp': '00:00:00.000', 't..."
1,968,Arsenal WFC,"[{'player_id': 5000, 'player_name': 'Stephanie...","[{'period': 1, 'timestamp': '00:00:00.000', 'r...","[{'period': 1, 'timestamp': '00:00:00.000', 't..."

In [6]:
mc_ars_events_df = pd.read_json("/Users/algin/Downloads/mc_data/statsbomb/data/ManCity_Arsenal_events.json")

In [8]:
mc_ars_events_df.columns

Index(['id', 'index', 'period', 'timestamp', 'minute', 'second', 'type',
       'possession', 'possession_team', 'play_pattern', 'obv_for_after',
       'obv_for_before', 'obv_for_net', 'obv_against_after',
       'obv_against_before', 'obv_against_net', 'obv_total_net', 'team',
       'duration', 'tactics', 'related_events', 'player', 'position',
       'location', 'pass', 'carry', 'under_pressure', 'ball_receipt',
       'counterpress', 'duel', 'miscontrol', 'dribble', 'interception', 'shot',
       'goalkeeper', 'off_camera', 'clearance', 'out', 'ball_recovery',
       'foul_won', '50_50', 'injury_stoppage', 'foul_committed',
       'substitution', 'bad_behaviour'],
      dtype='object')

In [21]:
mc_ars_events_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3629 entries, 0 to 3628
Data columns (total 45 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  3629 non-null   object
 1   index               3629 non-null   int64
 2   period              3629 non-null   int64
 3   timestamp           3629 non-null   datetime64[ns]
 4   minute              3629 non-null   int64
 5   second              3629 non-null   int64
 6   type                3629 non-null   object
 7   possession          3629 non-null   int64
 8   possession_team     3629 non-null   object
 9   play_pattern        3629 non-null   object
 10  obv_for_after       2030 non-null   float64
 11  obv_for_before      2036 non-null   float64
 12  obv_for_net         2030 non-null   float64
 13  obv_against_after   2030 non-null   float64
 14  obv_against_before  2036 non-null   float64
 15  obv_against_net     2030 non-null   float64
 16  obv_total_net       2030 non-null   float64
 17  team                3629 non-null   object
 18  duration            2704 non-null   float64
 19  tactics             3 non-null      object
 20  related_events      3472 non-null   object
 21  player              3612 non-null   object
 22  position            3612 non-null   object
 23  location            3594 non-null   object
 24  pass                962 non-null    object
 25  carry               806 non-null    object
 26  under_pressure      770 non-null    float64
 27  ball_receipt        178 non-null    object
 28  counterpress        122 non-null    float64
 29  duel                65 non-null     object
 30  miscontrol          4 non-null      object
 31  dribble             46 non-null     object
 32  interception        44 non-null     object
 33  shot                22 non-null     object
 34  goalkeeper          31 non-null     object
 35  off_camera          59 non-null     float64
 36  clearance           41 non-null     object
 37  out                 35 non-null     float64
 38  ball_recovery       10 non-null     object
 39  foul_won            9 non-null      object
 40  50_50               8 non-null      object
 41  injury_stoppage     2 non-null      object
 42  foul_committed      7 non-null      object
 43  substitution        6 non-null      object
 44  bad_behaviour       1 non-null      object
dtypes: datetime64[ns](1), float64(12), int64(5), object(27)
memory usage: 1.2+ MB

In [24]:
tactic_changes = mc_ars_events_df[~mc_ars_events_df['tactics'].isna()]

In [33]:
tactic_changes

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,off_camera,clearance,out,ball_recovery,foul_won,50_50,injury_stoppage,foul_committed,substitution,bad_behaviour
0,5ab3a8e3-e6e1-4a94-b057-57b2301abac5,1,1,2023-03-22,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 746, 'name': 'Manchester City WFC'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15347fb5-bd07-47c7-9331-b5d0d6901847,2,1,2023-03-22,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 746, 'name': 'Manchester City WFC'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1897,58d3e4ea-a747-487f-ae46-1d77d97b81eb,1898,2,2023-03-22,45,0,"{'id': 36, 'name': 'Tactical Shift'}",91,"{'id': 746, 'name': 'Manchester City WFC'}","{'id': 4, 'name': 'From Throw In'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
tactic_changes['tactics']

0       {'formation': 433, 'lineup': [{'player': {'id'...
1       {'formation': 343, 'lineup': [{'player': {'id'...
1897    {'formation': 442, 'lineup': [{'player': {'id'...
Name: tactics, dtype: object

In [35]:
tactic_changes.columns

Index(['id', 'index', 'period', 'timestamp', 'minute', 'second', 'type',
       'possession', 'possession_team', 'play_pattern', 'obv_for_after',
       'obv_for_before', 'obv_for_net', 'obv_against_after',
       'obv_against_before', 'obv_against_net', 'obv_total_net', 'team',
       'duration', 'tactics', 'related_events', 'player', 'position',
       'location', 'pass', 'carry', 'under_pressure', 'ball_receipt',
       'counterpress', 'duel', 'miscontrol', 'dribble', 'interception', 'shot',
       'goalkeeper', 'off_camera', 'clearance', 'out', 'ball_recovery',
       'foul_won', '50_50', 'injury_stoppage', 'foul_committed',
       'substitution', 'bad_behaviour'],
      dtype='object')

In [43]:
mc_ars_events_df[~mc_ars_events_df['shot'].isna()]['shot']

102     {'statsbomb_xg': 0.023782702000000003, 'end_lo...
184     {'open_goal': True, 'statsbomb_xg': 0.62613934...
333     {'statsbomb_xg': 0.09095456, 'end_location': [...
490     {'statsbomb_xg': 0.031449426, 'statsbomb_xg2':...
540     {'statsbomb_xg': 0.054788925, 'end_location': ...
806     {'statsbomb_xg': 0.0139399115, 'end_location':...
965     {'statsbomb_xg': 0.14745256, 'end_location': [...
1036    {'one_on_one': True, 'statsbomb_xg': 0.4658569...
1072    {'statsbomb_xg': 0.029694319, 'statsbomb_xg2':...
1163    {'statsbomb_xg': 0.027609276000000002, 'statsb...
1365    {'statsbomb_xg': 0.013277972, 'end_location': ...
1643    {'statsbomb_xg': 0.4755491, 'statsbomb_xg2': 0...
1814    {'statsbomb_xg': 0.054932773000000004, 'end_lo...
2142    {'statsbomb_xg': 0.22304635, 'end_location': [...
2210    {'statsbomb_xg': 0.08331805, 'end_location': [...
2399    {'statsbomb_xg': 0.031398043, 'statsbomb_xg2':...
2733    {'statsbomb_xg': 0.029792977000000002, 'end_lo...
2756    {'statsbomb_xg': 0.014165305500000001, 'end_lo...
2794    {'statsbomb_xg': 0.13888618, 'statsbomb_xg2': ...
2881    {'statsbomb_xg': 0.0066961553, 'end_location':...
3097    {'statsbomb_xg': 0.027808158000000003, 'end_lo...
3255    {'statsbomb_xg': 0.018355556000000002, 'end_lo...
Name: shot, dtype: object